<div *ngIf="post !== undefined && loggedInUser">
  <div class="card user-detail-card" style="margin: 15px">
    <div class="card-header">
      <div class="row">
        <span
          [ngClass]="{
            'col-5': +loggedInUser.userId === +post.userId,
            'col-10': +loggedInUser.userId !== +post.userId
          }"
          class="col-5"
        >
          <a
            class="badge post-title-badge"
            appButton
            [mouseInColor]="'#d79921'"
            [mouseOutColor]="'#fabd2f'"
            [routerLink]="['/posts', post.postId]"
            >{{ post!.title }}</a
          >
          by
          <a
            class="badge userId-badge"
            appButton
            [mouseOutColor]="'#8ec07c'"
            [mouseInColor]="'#689d6a'"
            [routerLink]="['/users', 'posts', post.userId]"
            >{{ post!.userId }}</a
          >

          <small class="text-muted m-2"
            >created on {{ post!.createdDate }}</small
          >
        </span>
        <span *ngIf="isEditable" class="col-5 text-right">
          <a
            *ngIf="+loggedInUser.userId === post.postId"
            class="badge delete-post-badge"
            appButton
            [mouseInColor]="'#cc241d'"
            [mouseOutColor]="'#fb4934'"
          >
            <fa-icon [icon]="faDeletePostIcon"></fa-icon> Delete Post
          </a>
        </span>
      </div>
    </div>
    <div class="card-body">
      <app-post-editor
        [post]="post"
        [content]="post!.content"
        [showMenu]="showMenu"
        [isEditable]="isEditable"
      ></app-post-editor>


    </div>
  </div>
</div>
