<div>
  <form [formGroup]="form" >
    <div class="NgxEditor__Wrapper">
      <div *ngIf="showMenu">
        <ngx-editor-menu id="editor-menu" [editor]="editor"></ngx-editor-menu>
      </div>
      <ngx-editor
        class="editor"
        [(ngModel)]="content"
        [editor]="editor"
        [enabled]="isEditable"
        formControlName="editorContent"
      >
      </ngx-editor>
    </div>
    <div *ngIf="isEditable">
      <button
        class="btn save-content-btn mt-3 mb-3"
        type="submit"
        appButton
        [mouseInColor]="'#458588'"
        [mouseOutColor]="'#83a598'"
      >
        Save Content
      </button>
    </div>
  </form>
</div>
