<nav class="navbar navbar-expand-lg" id="navbar-app">
  <div class="container-fluid">
    <p class="navbar-brand" >Blogpost-App</p>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a appUsersLink class="nav-link users-link" [routerLink]="['/users']"
            >Users</a
          >
        </li>
        <li class="nav-item active">
          <a appPostsLink class="nav-link posts-link" [routerLink]="['/posts']"
            >Posts</a
          >
        </li>
      </ul>
    </div>
    <button class="btn btn secondary" type="button" data-toggle=""></button>
    <div class="nav navbar-nav navbar-right">
      <button
        *ngIf="!userIsLoggedIn"
        id="loginBtn"
        class="btn btn-secondary"
        appButton
        [mouseOutColor]="'#8ec07c'"
        [mouseInColor]="'#689d6a'"
        [routerLink]="['/login']"
        type="button"
      >
        <fa-icon [icon]="faSignInIcon"></fa-icon> Login
      </button>
      <button
        *ngIf="!userIsLoggedIn"
        id="registerBtn"
        class="btn btn-secondary"
        appButton
        [mouseOutColor]="'#83a598'"
        [mouseInColor]="'#458588'"
        [routerLink]="['/register']"
        type="button"
      >
        <fa-icon [icon]="faRegisterIcon"></fa-icon> Register
      </button>
      <button
        *ngIf="userIsLoggedIn"
        id="createPostBtn"
        class="btn btn-secondary"
        appButton
        [mouseInColor]="'#d79921'"
        [mouseOutColor]="'#fabd2f'"
        (click)="goToNewPost()"
        type="button"
      >
        <fa-icon [icon]="faNewPostIcon"></fa-icon>
        Create New Post
      </button>
      <button
        *ngIf="userIsLoggedIn"
        id="logoutBtn"
        class="btn btn-secondary"
        appButton
        [mouseInColor]="'#b16286'"
        [mouseOutColor]="'#d3869b'"
        (click)="logoutUser()"
        type="button"
      >
        <fa-icon [icon]="faSignOutIcon"></fa-icon> Logout
      </button>
    </div>
  </div>
</nav>
