div.form-group input.form-control {
  color: #fbf1c7;
  background-color: #3c3836;
  border-color: #665c54;
}

div.NgxEditor__Wrapper {
  border-color: #665c54;
}

div.NgxEditor__Wrapper div .editor-menu {
  color: #fbf1c7;
  background-color: #3c3836;

  border-color: #665c54;
}
div.ProseMirror.NgxEditor__Content p.NgxEditor__Placeholder::before {
  border-color: #665c54;
  color: #fbf1c7;
}

div.NgxEditor__Wrapper div .editor-menu ::placeholder {
}

form.ng-untouched.ng-pristine.ng-invalid
  div.NgxEditor__Wrapper
  div
  #editor-menu
  div.NgxEditor__MenuBar {
  background-color: #3c3836;
  color: #fbf1c7;
  border-color: #665c54;
}

div.NgxEditor__Wrapper .NgxEditor__MenuBar {
  border-color: #665c54;
}


button.delete-post-badge {
  color: #282828;
  background-color: #fb4934;
  border-color: #cc241d;
}


div.NgxEditor__Seperator {
  border-color: #665c54;
}

div.NgxEditor__MenuBar
  .NgxEditor__MenuItem
  .NgxEditor__MenuItem--IconContainer {
  background-color: #3c3836;
  border-color: #a89984;
}

#editor-menu > div > ngx-toggle-command {
  border-color: #a89984;
  background-color: #3c3836;
}

.NgxEditor__Wrapper .NgxEditor__MenuBar {
  border-color: #a89984;
  background-color: #3c3836;
}

div.NgxEditor {
  border-color: #a89984;
  background-color: #3c3836;
}
div.NgxEditor ::placeholder {
  color: #928374;
}

input.form-control::placeholder {
  color: #928374;
}

div.NgxEditor__Dropdown--Text {
  background-color: #3c3836;
  color: #fbf1c7;
}

div.NgxEditor__Dropdown--Item {
  background-color: #3c3836;
  color: #fbf1c7;
}



button.save-content-btn {
  background-color: #83a598;
  border-color: #458588;
  color: #282828;
}
