<div *ngIf="user !== null && !noPosts" class="home-body">
  <h1 class="text-center m-2">Welcome, {{ user.userId }}</h1>

  <div class="container-lg-1 m-3">
    <div class="card user-detail-card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg">
            <p class="h4">Go to User's posts</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg">
            <p class="h4">Edit User account settings</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-lg-1 m-3">
    <app-posts-card-list [userId]="user.userId"></app-posts-card-list>
  </div>
  <div *ngIf="noPosts" class="home-body container-md">
    <h1 class="m-3">Welcome, {{ user.userId }}</h1>
    <div class="card user-detail-card">
      <div class="card-body">
        <p class="h-3">
          User: "{{ user.userId }}" does not have any posts, please create a new
          one using the button below
        </p>
        <button class="btn btn-primary" [routerLink]="['/posts', 'new']">
          Create new post
        </button>
      </div>
    </div>
  </div>
</div>
