<div *ngIf="user !== null && !noPosts" class="home-body">
  <h1 class="text-center user-home-title m-4">{{ user.userId }}</h1>

  <app-posts [userId]="user.userId"></app-posts>
</div>
<div *ngIf="noPosts" class="home-body container-md">
  <h1 class="m-3">Welcome, {{ user.userId }}</h1>
  <div class="card user-detail-card">
    <div class="card-body">
      <p class="h-3">
        User: "{{ user.userId }}" does not have any posts, please create a new
        one using the button below
      </p>
      <button class="btn btn-primary" [routerLink]="['/posts', 'new']">
        Create new post
      </button>
    </div>
  </div>
</div>
