<div class="container-md">
  <h1 class="text-center posts-title mt-3 mb-3">Create a new post</h1>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="txtTitle" class="h3 mt-3 mb-3 title-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="txtTitle"
        name="txtTitle"
        placeHolder="My New Post"
        [(ngModel)]="newPost!.title"
      />
      <label for="editor-content" class="h3 mt-4 mb-3 content-label"
        >Content</label
      >
      <app-editor id="editor-content"></app-editor>
      <label for="txtHeaderImage" class="h3 mt-4 mb-3 content-header-image"
        >Header Image</label
      >
      <input
        type="text"
        class="form-control"
        id="txtHeaderImage"
        name="txtHeaderImage"
        placeholder="Put the URL for your image here!"
        [(ngModel)]="newPost!.headerImage"
      />
      <button type="submit" class="btn btn-success mt-5">Submit</button>
    </div>

    <div
      *ngIf="success != false"
      [ngClass]="{ 'alert-danger': !success, 'alert-success': success }"
      class="alert"
      role="alert"
    >
      Alert!
    </div>
  </form>
</div>
