<h1 class="posts-title">Create a new post</h1>
<div class="container-md">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="txtTitle">Title</label>
      <input
        type="text"
        class="form-control"
        id="txtTitle"
        name="txtTitle"
        placeHolder="My New Post"
        [(ngModel)]="newPost!.title"
      />
    </div>
    <div
      *ngIf="success != false"
      [ngClass]="{ 'alert-danger': !success, 'alert-success': success }"
      class="alert"
      role="alert"
    >
      Alert!
    </div>
  </form>
</div>
